.paypal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Alinea el contenido hacia arriba */
  text-align: center;
  height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
  padding-top: 60px; /* Ajusta el padding superior para mover el contenido hacia abajo */
}

.paypal-container h1 {
  font-size: 32px; /* Tamaño de fuente más grande para el título */
  margin-bottom: 20px; /* Espacio entre el título y el botón */
}

#paypal-button-container-P-3T662053RR938364VM2YMTHA {
  width: 100%;
  max-width: 400px; /* Ajusta el tamaño máximo del botón */
  padding: 20px; /* Espacio alrededor del botón */
  display: flex;
  justify-content: center;
}
