<ion-header>
  <ion-toolbar>
    <ion-title>Pago Anual</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToMainMenu()">
        <ion-icon class="home-icon" slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button (click)="goBack()">
        <ion-icon class="arrow-back-icon" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="paypal-container">
    <h1>Bienvenido a Convertify Premium</h1>
    <p>Realiza tu pago por PayPal</p>
    <div id="paypal-button-container-P-3T662053RR938364VM2YMTHA"></div>
  </div>
</ion-content>
